{
  "presets": [
    [
      '@babel/preset-react',
      {
        runtime: 'automatic',
      },
    ],
  ],
  "plugins": [
  ["module-resolver", {
    "root": ["./src"],
    "alias": {
      "@services": "./src/services"
    }
  }]
]
}
